# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual env
.venv/
mov_env/
movie/

# OS files
.DS_Store
Thumbs.db

# Env
.env
.env.example

# Data / models / vector db storage (DON'T COMMIT)
data/external/
data/raw/
data/interim/
data/processed/
models/
qdrant_storage/
chroma_storage/

# Logs
logs/
*.log

# Notebooks checkpoints
notebooks/.ipynb_checkpoints/
